@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: "Poetsen One", "sans-serif";
  font-weight: 400;
  font-style: normal;
  background-color: #A0937D;
  
}
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}



.text-small {
  font-size: 10px !important;
}


.color{
  color:#074173
}
.button-color{
  background-color:#074173
}

.button-color:hover{
  background-color:#1679AB
}

.bgcolor{
  background-color:#B6C7AA
}


@media (min-width: 768px) {
  .categories::-webkit-scrollbar {
    display: none;
  }
  body{
    overflow:hidden

  }
}